<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <p>All Orders:</p>

    {% for item in orders %}
        <p>Item: {{ item.food }} ({{ item.num_food }}) - {{ item.drink }} ({{ item.num_drink }})</p>
    {% endfor %}
    <ul id="dash-list"></ul>

    <form method="POST" action="{% url 'clear_dash' %}">
        {% csrf_token %}
        <button type="submit">Clear orders</button>
    </form>
</body>
</html>