<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Order</title>
</head>
<body>
    <p>Hi {{ request.user.username }}!</p>
    <p>Enter order below:</p>

    <form method="POST">
        {% csrf_token %}
        <input id="food" type="text" placeholder="enter food" name="food"><br>
        <input id="food-quantity" type="number" placeholder="enter quantity" name="food_quantity">
        <br>
        <br>
        <input id="drink" type="text" placeholder="enter drink (optional)" name="drink"><br>
        <input id="drink-quantity" type="number" placeholder="enter quantity (optional)" name="drink_quantity">
        <br>

        <button type="button" id="add-btn">Add</button>
        <button type="button" id="clear-btn">Clear</button>

        <ul id="unordered-list"></ul>
        <br>

        <button id="submit-order">submit Order</button>
    </form>

    <form action="/logout/" method="POST">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>

    <script src="{% static 'enterorder.js' %}"></script>
</body>
</html>